<!-- Author: Corentin Guichaoua-->

<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jzz"></script>
        <script src="https://jazz-soft.net//script/MIDI.js"></script>
        <script src="https://jazz-soft.net//script/JZZ.synth.MIDIjs.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jzz-synth-osc"></script>
        <script src="https://jazz-soft.net/script/JZZ.synth.Tiny.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jzz-input-kbd"></script>
        <script src="https://cdn.jsdelivr.net/npm/jzz-midi-smf"></script>

    </head>
    <body>
        <h1>The Tonnetz</h1>
        <h2>One key — Many Representations</h2>
        <div id="proto">
            <div class="column" style="text-align:center;">
                <button v-for="tonnetz in tonnetze" v-on:click="(intervals=tonnetz) ^ (type='tonnetz')" v-bind:class="{activeButton:arrayEquals(tonnetz,intervals) && type=='tonnetz'}">
                    {{ tonnetz }}
                </button>
                <br/>
                <button v-for="tonnetz in tonnetze" v-on:click="(intervals=tonnetz) ^ (type='chicken')" v-bind:class="{activeButton:arrayEquals(tonnetz,intervals) && type=='chicken'}">
                    {{ tonnetz }}
                </button>
                <br/>
                <tonnetz-plan v-if="type=='tonnetz'" v-bind:notes="notes" v-bind:height="400" v-bind:width="600" v-bind:intervals="intervals"></tonnetz-plan>
                <chicken-wire v-else v-bind:notes="notes" v-bind:height="400" v-bind:width="600" v-bind:intervals="intervals"></chickenwire>
                <br/>
                
            </div>
             
            <div class="column">
                <button id=btn v-on:click='playStop' disabled> {{ buttonText }} </button>
                <p> {{ loadlog }}</p>

                <p>
                    From file: <input type=file id=file size=40 v-on:change='fromFile();'>
                </p>
                <p>from URL:
                <form v-on:submit='fromURL(); return false;'>
                    <p>
                        <input type=text id=url value='https://jazz-soft.net/demo/midi/furelise.mid' size=80>
                        <input type=submit value=Submit...>
                    </p>
                </form>
                </p>
                <p>
                    from Base64 string: <button v-on:click='fromBase64();'>Read...</button>
                </p>
                <br/>
                <clock-octave v-bind:notes="notes" v-bind:height="200" v-bind:width="200" v-bind:intervals="1"></clock-octave>
                <clock-octave v-bind:notes="notes" v-bind:height="200" v-bind:width="200" v-bind:intervals="7"></clock-octave>
            </div> 
            
            <br/>
            <button v-for="note in notes" v-on:click="note.count=1-note.count" v-bind:class="{activeButton:note.count>0}">
                {{ note.text }}
            </button> 
            <br/>
        </div>

        <p><div id=piano></div></p>

        <script src="index.js"></script>
    </body>
</html>